<%- include('partials/header'); -%>

<header>
    <div class="Mythical strings.png.jpg">
        <img src="Assets/Mythical strings.png.jpg" alt="image here">
    </div>
    <div class="headings">
        <h2>Opening the Doors to Knowledge</h2>
        <a href="/courses" class="btn">View Courses</a>
    </div>
</header>
<body>
        <p>Welcome to the realm of strings, where music for the ages is created as boundless as time itself! In our high fantsy inspired music conservatory, we embark on a journey through the territories of fantasy music. Our webpages will be portals to knowledge, our scholars navigate through the index of courses, with each link flowing with potential. Join us as we create music to inspire from at home DnD sessions to movies. where the very fabric of education of string instruments is woven with the threads of innovation and imagination. Prepare to witness the birth of a new era in music at Mythical Strings Conservatory!</p>
</body>


<%- include('partials/footer'); -%>